* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  background: #ccc;
}
header {
  width: 100%;
  background: #ff8a00;
  display: flex;
  align-items: center;
}
header img:nth-child(1) {
  width: 13rem;
  height: 6rem;
  margin-left: 4rem;
}
header img:nth-child(2) {
  width: 3rem;
  height: 4rem;
  margin-left: 8rem;
}
header img:nth-child(3) {
  width: 3rem;
  height: 4rem;
  margin-left: 4rem;
}
section {
  width: 100%;
}
section > div:nth-child(1) {
  width: 100%;
}
section > div:nth-child(1) img {
  width: 100%;
}
section > div:nth-child(2) {
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  padding-bottom: 2rem;
}
section > div:nth-child(2) > div:nth-child(1) {
  margin-top: 2rem;
  margin-left: 2rem;
}
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  margin-top: 1rem;
  font-size: 1.6rem;
}
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > span:nth-child(1) {
  color: red;
}
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) {
  display: flex;
  margin-top: 1rem;
}
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) {
  background: #DEE9F0;
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.6);
}
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) > div:nth-child(2),
section > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) {
  background: #DEE9F0;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
section > div:nth-child(2) > div:nth-child(2) {
  margin-right: 2rem;
}
section > div:nth-child(3) {
  width: 100%;
  background: white;
}
section > div:nth-child(3) > div:nth-child(1),
section > div:nth-child(3) > div:nth-child(2),
section > div:nth-child(3) > div:nth-child(3),
section > div:nth-child(3) > div:nth-child(4),
section > div:nth-child(3) > div:nth-child(5) {
  width: 90%;
  display: flex;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
}
section > div:nth-child(3) > div:nth-child(1) > div:nth-child(1),
section > div:nth-child(3) > div:nth-child(2) > div:nth-child(1),
section > div:nth-child(3) > div:nth-child(3) > div:nth-child(1),
section > div:nth-child(3) > div:nth-child(4) > div:nth-child(1),
section > div:nth-child(3) > div:nth-child(5) > div:nth-child(1) {
  font-size: 1.6rem;
}
section > div:nth-child(3) > div:nth-child(1) > div:nth-child(2),
section > div:nth-child(3) > div:nth-child(2) > div:nth-child(2),
section > div:nth-child(3) > div:nth-child(3) > div:nth-child(2),
section > div:nth-child(3) > div:nth-child(4) > div:nth-child(2),
section > div:nth-child(3) > div:nth-child(5) > div:nth-child(2) {
  font-size: 1.6rem;
  margin-left: 3rem;
}
section > div:nth-child(3) > div:nth-child(6),
section > div:nth-child(3) > div:nth-child(7),
section > div:nth-child(3) > div:nth-child(8) {
  width: 90%;
  display: flex;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
  font-size: 1.3rem;
}
section > div:nth-child(3) > div:nth-child(9) {
  width: 90%;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 1rem auto;
  padding: 2rem 0;
  font-size: 1.3rem;
}
section > div:nth-child(4) {
  width: 100%;
  background: white;
  margin-top: 1rem;
}
section > div:nth-child(4) > div:nth-child(1) {
  width: 90%;
  color: orangered;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
  font-size: 2rem;
}
section > div:nth-child(4) > div:nth-child(2) {
  width: 90%;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
}
section > div:nth-child(4) > div:nth-child(3) {
  width: 90%;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 1rem auto;
  padding: 2rem 0;
  font-size: 1.8rem;
}
section > div:nth-child(5) {
  width: 100%;
  margin-top: 1rem;
  background: white;
}
section > div:nth-child(5) > div:nth-child(1) {
  width: 90%;
  color: orangered;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
  font-size: 2rem;
}
section > div:nth-child(5) > div:nth-child(2) {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(1) {
  padding: 1rem;
  width: 25%;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(1) > img {
  width: 100%;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) {
  padding: 1rem 0;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  font-size: 1.5rem;
  margin-top: 1rem;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  margin-top: 1rem;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
  padding: 1rem;
  background: #F4F7F9;
  color: #2F3130;
}
section > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) {
  padding: 1rem;
  background: #F4F7F9;
  color: #2F3130;
  margin-left: 1rem;
}
section > div:nth-child(5) > hr {
  border: 0.1rem solid orangered;
  width: 90%;
  margin: 0 auto;
}
section > div:nth-child(5) > div:nth-child(4) {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(1) {
  padding: 1rem;
  width: 25%;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(1) > img {
  width: 100%;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(2) {
  padding: 1rem 0;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) {
  font-size: 1.5rem;
  margin-top: 1rem;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  margin-top: 1rem;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
  padding: 1rem;
  background: #F4F7F9;
  color: #2F3130;
}
section > div:nth-child(5) > div:nth-child(4) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) {
  padding: 1rem;
  background: #F4F7F9;
  color: #2F3130;
  margin-left: 1rem;
}
section > div:nth-child(6) {
  background: white;
}
section > div:nth-child(6) > div:nth-child(1) {
  width: 90%;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  font-weight: bold;
}
section > div:nth-child(6) > div:nth-child(2),
section > div:nth-child(6) > div:nth-child(3),
section > div:nth-child(6) > div:nth-child(4),
section > div:nth-child(6) > div:nth-child(5),
section > div:nth-child(6) > div:nth-child(6) {
  display: flex;
  width: 90%;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
}
section > div:nth-child(6) > div:nth-child(2) > div:nth-child(1),
section > div:nth-child(6) > div:nth-child(3) > div:nth-child(1),
section > div:nth-child(6) > div:nth-child(4) > div:nth-child(1),
section > div:nth-child(6) > div:nth-child(5) > div:nth-child(1),
section > div:nth-child(6) > div:nth-child(6) > div:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
}
section > div:nth-child(6) > div:nth-child(7) {
  width: 90%;
  margin: 1rem auto;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
section > div:nth-child(7) {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
}
section > div:nth-child(7) > div:nth-child(1) {
  font-size: 2rem;
  padding: 2rem 1rem;
  font-weight: bold;
}
section > div:nth-child(7) > hr:nth-child(2) {
  border: 0.1rem solid #2F3130;
  width: 90%;
  margin: 0 auto;
}
section > div:nth-child(7) .house-info1 {
  width: 96%;
  height: 20rem;
  margin: 0 auto;
  display: flex;
}
section > div:nth-child(7) .house-info1 > div:nth-child(1) {
  width: 40%;
  height: 15rem;
}
section > div:nth-child(7) .house-info1 > div:nth-child(1) img {
  margin: 2rem;
  width: 100%;
  height: 100%;
}
section > div:nth-child(7) .house-info1 > div:nth-child(2) {
  width: 51%;
  margin-left: 3rem;
  margin-top: 1rem;
}
section > div:nth-child(7) .house-info1 > div:nth-child(2) > div:nth-child(1) {
  width: 19rem;
  font-weight: bold;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section > div:nth-child(7) .house-info1 > div:nth-child(2) > div:nth-child(2) {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
section > div:nth-child(7) .house-info1 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  color: orangered;
}
section > div:nth-child(7) .house-info1 > div:nth-child(2) > div:nth-child(3) {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
}
section > div:nth-child(7) .house-info1 > div:nth-child(2) > div:nth-child(4) {
  display: flex;
  margin-top: 2rem;
}
section > div:nth-child(7) .house-info1 > div:nth-child(2) > div:nth-child(4) div {
  background: #90B3D3;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  margin-left: 1rem;
}
section > div:nth-child(7) > div:nth-child(3),
section > div:nth-child(7) > div:nth-child(6) {
  width: 90%;
  padding: 1rem 0;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.6rem;
  background: #F2F2F2;
  border-radius: 1rem;
}
section > div:nth-child(7) > div:nth-child(8) {
  position: absolute;
  top: 249.4rem;
  left: 3rem;
}
section > div:nth-child(7) > div:nth-child(9) {
  position: absolute;
  top: 275.6rem;
  left: 3rem;
}
section > div:nth-child(7) > div:nth-child(10) {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem 0;
  font-size: 1.6rem;
  text-align: center;
}
footer {
  width: 100%;
  background-color: #2F3130;
  color: #8C8D8D;
}
footer > div:nth-child(1) {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #8C8D8D;
}
footer > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
footer > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
}
footer > div:nth-child(2) > div:nth-child(1) img {
  margin-right: 2rem;
}
footer > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  align-items: center;
}
footer > div:nth-child(2) > div:nth-child(2) img {
  margin-right: 2rem;
}
footer > div:nth-child(3),
footer > div:nth-child(4) {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 1rem;
}
#foot {
  background: white;
  display: flex;
}
#foot > div:nth-child(1) {
  display: flex;
  background: #ff8a00;
  width: 50%;
  font-size: 1.6rem;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
#foot > div:nth-child(1) img {
  width: 80%;
}
#foot > div:nth-child(2) {
  display: flex;
  width: 50%;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
#foot > div:nth-child(2) img {
  width: 80%;
}
