* {
  padding: 0;
  margin: 0;
}
body {
  background: #ccc;
}
html {
  font-size: 10px;
}
header {
  width: 100%;
  background: #ff8a00;
  display: flex;
  align-items: center;
}
header img:nth-child(1) {
  width: 13rem;
  height: 6rem;
  margin-left: 4rem;
}
header img:nth-child(2) {
  width: 3rem;
  height: 4rem;
  margin-left: 8rem;
}
header img:nth-child(3) {
  width: 3rem;
  height: 4rem;
  margin-left: 4rem;
}
section > div:nth-child(1) input {
  width: 70%;
  height: 4rem;
  border-radius: 10px;
  padding-left: 5rem;
  margin-top: 2rem;
  margin-left: 3rem;
}
section > div:nth-child(2) {
  position: absolute;
  top: 8.5rem;
  left: 30rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  border-left: 1px solid black;
}
section > div:nth-child(2) img {
  width: 2rem;
}
section > div:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
  margin-top: 1rem;
}
section > div:nth-child(3) > div:nth-child(1),
section > div:nth-child(3) > div:nth-child(2),
section > div:nth-child(3) > div:nth-child(3),
section > div:nth-child(3) > div:nth-child(4) {
  display: flex;
  font-size: 2.5rem;
  padding: 1rem 0;
}
section > div:nth-child(3) > div:nth-child(1) img,
section > div:nth-child(3) > div:nth-child(2) img,
section > div:nth-child(3) > div:nth-child(3) img,
section > div:nth-child(3) > div:nth-child(4) img {
  width: 1.7rem;
}
.house-info1,
.house-info2,
.house-info3 {
  width: 94%;
  height: 17rem;
  border-bottom: 0.1rem solid red;
  margin: 0 auto;
  display: flex;
}
.house-info1 > div:nth-child(1),
.house-info2 > div:nth-child(1),
.house-info3 > div:nth-child(1) {
  width: 40%;
  height: 15rem;
}
.house-info1 > div:nth-child(1) img,
.house-info2 > div:nth-child(1) img,
.house-info3 > div:nth-child(1) img {
  margin: 2rem 1rem;
  width: 80%;
}
.house-info1 > div:nth-child(2),
.house-info2 > div:nth-child(2),
.house-info3 > div:nth-child(2) {
  width: 51%;
  margin-left: 1rem;
  margin-top: 1rem;
}
.house-info1 > div:nth-child(2) > div:nth-child(1),
.house-info2 > div:nth-child(2) > div:nth-child(1),
.house-info3 > div:nth-child(2) > div:nth-child(1) {
  width: 19rem;
  font-weight: bold;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.house-info1 > div:nth-child(2) > div:nth-child(2),
.house-info2 > div:nth-child(2) > div:nth-child(2),
.house-info3 > div:nth-child(2) > div:nth-child(2) {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.house-info1 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
.house-info2 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
.house-info3 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  color: orangered;
}
.house-info1 > div:nth-child(2) > div:nth-child(3),
.house-info2 > div:nth-child(2) > div:nth-child(3),
.house-info3 > div:nth-child(2) > div:nth-child(3) {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
}
.house-info1 > div:nth-child(2) > div:nth-child(4),
.house-info2 > div:nth-child(2) > div:nth-child(4),
.house-info3 > div:nth-child(2) > div:nth-child(4) {
  display: flex;
  margin-top: 2rem;
}
.house-info1 > div:nth-child(2) > div:nth-child(4) div,
.house-info2 > div:nth-child(2) > div:nth-child(4) div,
.house-info3 > div:nth-child(2) > div:nth-child(4) div {
  background: #90B3D3;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  margin-left: 1rem;
}
footer {
  width: 100%;
  background-color: #2F3130;
  color: #8C8D8D;
}
footer > div:nth-child(1) {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #8C8D8D;
}
footer > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
footer > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
}
footer > div:nth-child(2) > div:nth-child(1) img {
  margin-right: 2rem;
}
footer > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  align-items: center;
}
footer > div:nth-child(2) > div:nth-child(2) img {
  margin-right: 2rem;
}
footer > div:nth-child(3),
footer > div:nth-child(4) {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 1rem;
}
.area {
  width: 100%;
  position: absolute;
  top: 13.4rem;
  display: none;
}
.area > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
}
.area > div:nth-child(1) > div:nth-child(1),
.area > div:nth-child(1) > div:nth-child(2),
.area > div:nth-child(1) > div:nth-child(3),
.area > div:nth-child(1) > div:nth-child(4) {
  display: flex;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.area > div:nth-child(1) > div:nth-child(1) img,
.area > div:nth-child(1) > div:nth-child(2) img,
.area > div:nth-child(1) > div:nth-child(3) img,
.area > div:nth-child(1) > div:nth-child(4) img {
  width: 1.7rem;
}
.area > div:nth-child(1) > div:nth-child(1) {
  color: orangered;
}
.area > div:nth-child(2) {
  display: flex;
}
.area > div:nth-child(2) > div:nth-child(1) {
  width: 20%;
  text-align: center;
}
.area > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  color: orangered;
  font-size: 2.5rem;
  background-color: white;
  padding-bottom: 1rem;
}
.area > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  padding-top: 1rem;
  font-size: 2.5rem;
  background-color: #ccc;
  padding-bottom: 18rem;
}
.area > div:nth-child(2) > div:nth-child(2) {
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.area > div:nth-child(2) > div:nth-child(2) ul li {
  list-style: none;
  margin-top: 2rem;
}
.price {
  width: 100%;
  position: absolute;
  top: 13.4rem;
  background: white;
  display: none;
}
.price > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
}
.price > div:nth-child(1) > div:nth-child(1),
.price > div:nth-child(1) > div:nth-child(2),
.price > div:nth-child(1) > div:nth-child(3),
.price > div:nth-child(1) > div:nth-child(4) {
  display: flex;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.price > div:nth-child(1) > div:nth-child(1) img,
.price > div:nth-child(1) > div:nth-child(2) img,
.price > div:nth-child(1) > div:nth-child(3) img,
.price > div:nth-child(1) > div:nth-child(4) img {
  width: 1.7rem;
}
.price > div:nth-child(1) > div:nth-child(2) {
  color: orangered;
}
.price > div:nth-child(2),
.price > div:nth-child(3),
.price > div:nth-child(4),
.price > div:nth-child(5),
.price > div:nth-child(6),
.price > div:nth-child(7),
.price > div:nth-child(8) {
  width: 90%;
  background: white;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: left;
  color: #8C8D8D;
  border-bottom: 0.1rem solid #ccc;
}
.room {
  width: 100%;
  position: absolute;
  top: 13.4rem;
  display: none;
  background: white;
}
.room > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
}
.room > div:nth-child(1) > div:nth-child(1),
.room > div:nth-child(1) > div:nth-child(2),
.room > div:nth-child(1) > div:nth-child(3),
.room > div:nth-child(1) > div:nth-child(4) {
  display: flex;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.room > div:nth-child(1) > div:nth-child(1) img,
.room > div:nth-child(1) > div:nth-child(2) img,
.room > div:nth-child(1) > div:nth-child(3) img,
.room > div:nth-child(1) > div:nth-child(4) img {
  width: 1.7rem;
}
.room > div:nth-child(1) > div:nth-child(3) {
  color: orangered;
}
.room > div:nth-child(2),
.room > div:nth-child(3),
.room > div:nth-child(4),
.room > div:nth-child(5),
.room > div:nth-child(6),
.room > div:nth-child(7) {
  width: 90%;
  background: white;
  margin: 0 auto;
  padding: 1rem 0;
  color: black;
  border-bottom: 0.1rem solid #ccc;
  display: flex;
  justify-content: space-between;
}
.room > div:nth-child(2) > div:nth-child(1),
.room > div:nth-child(3) > div:nth-child(1),
.room > div:nth-child(4) > div:nth-child(1),
.room > div:nth-child(5) > div:nth-child(1),
.room > div:nth-child(6) > div:nth-child(1),
.room > div:nth-child(7) > div:nth-child(1) {
  font-size: 1.3rem;
}
.room > div:nth-child(2) > div:nth-child(2),
.room > div:nth-child(3) > div:nth-child(2),
.room > div:nth-child(4) > div:nth-child(2),
.room > div:nth-child(5) > div:nth-child(2),
.room > div:nth-child(6) > div:nth-child(2),
.room > div:nth-child(7) > div:nth-child(2) {
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
}
.room > div:nth-child(5) > div:nth-child(2) {
  border: 1px solid orangered;
  font-size: 2rem;
  color: orangered;
}
.room > div:nth-child(8) {
  width: 90%;
  background: orangered;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
.more {
  width: 100%;
  position: absolute;
  top: 13.4rem;
  display: none;
  background: white;
}
.more > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
}
.more > div:nth-child(1) > div:nth-child(1),
.more > div:nth-child(1) > div:nth-child(2),
.more > div:nth-child(1) > div:nth-child(3),
.more > div:nth-child(1) > div:nth-child(4) {
  display: flex;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.more > div:nth-child(1) > div:nth-child(1) img,
.more > div:nth-child(1) > div:nth-child(2) img,
.more > div:nth-child(1) > div:nth-child(3) img,
.more > div:nth-child(1) > div:nth-child(4) img {
  width: 1.7rem;
}
.more > div:nth-child(1) > div:nth-child(4) {
  color: orangered;
}
.more > div:nth-child(2) {
  width: 90%;
  margin: 0 auto;
  border-bottom: 0.1rem solid #ccc;
}
.more > div:nth-child(2) > div:nth-child(1) {
  font-size: 1.6rem;
}
.more > div:nth-child(2) > div:nth-child(2) {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.more > div:nth-child(2) > div:nth-child(2) div {
  border: 0.1rem solid #ccc;
  width: 25%;
  text-align: center;
  margin-left: 1rem;
}
.more > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  margin-bottom: 2rem;
}
.more > div:nth-child(2) > div:nth-child(3) div {
  border: 0.1rem solid #ccc;
  width: 22%;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1rem;
}
.more > div:nth-child(3) {
  width: 90%;
  margin: 1rem auto;
  border-bottom: 0.1rem solid #ccc;
}
.more > div:nth-child(3) > div:nth-child(1) {
  font-size: 1.6rem;
}
.more > div:nth-child(3) > div:nth-child(2) {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.more > div:nth-child(3) > div:nth-child(2) div {
  border: 0.1rem solid #ccc;
  width: 25%;
  text-align: center;
  margin-left: 1rem;
}
.more > div:nth-child(3) > div:nth-child(3) {
  display: flex;
  margin-bottom: 2rem;
}
.more > div:nth-child(3) > div:nth-child(3) div {
  border: 0.1rem solid #ccc;
  width: 22%;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1rem;
}
.more > div:nth-child(4) {
  width: 90%;
  margin: 1rem auto;
  border-bottom: 0.1rem solid #ccc;
}
.more > div:nth-child(4) > div:nth-child(1) {
  font-size: 1.6rem;
}
.more > div:nth-child(4) > div:nth-child(2) {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.more > div:nth-child(4) > div:nth-child(2) div {
  border: 0.1rem solid #ccc;
  width: 25%;
  text-align: center;
  margin-left: 1rem;
}
.more > div:nth-child(4) > div:nth-child(3) {
  display: flex;
  margin-bottom: 2rem;
}
.more > div:nth-child(4) > div:nth-child(3) div {
  border: 0.1rem solid #ccc;
  width: 22%;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1rem;
}
.more > div:nth-child(4) > div:nth-child(4) {
  display: flex;
  margin-bottom: 2rem;
}
.more > div:nth-child(4) > div:nth-child(4) div {
  border: 0.1rem solid #ccc;
  width: 22%;
  text-align: center;
  margin-left: 1rem;
  margin-top: -1rem;
}
.more > div:nth-child(5) {
  width: 90%;
  margin: 1rem auto;
  border-bottom: 0.1rem solid #ccc;
}
.more > div:nth-child(5) > div:nth-child(1) {
  font-size: 1.6rem;
}
.more > div:nth-child(5) > div:nth-child(2) {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.more > div:nth-child(5) > div:nth-child(2) div {
  border: 0.1rem solid #ccc;
  width: 25%;
  text-align: center;
  margin-left: 1rem;
}
